# Server
PORT=8080

# Pinata (prefer JWT)
PINATA_JWT=

# Alternative Pinata auth (if JWT is not used)
PINATA_API_KEY=
PINATA_SECRET_API_KEY=

# Optional remote network config for truffle-config.js
MNEMONIC=
INFURA_API_KEY=
